
body{ 
    margin: 0rem;
}
.triangle {
    width: 100%;
    height: 40rem;
    background: linear-gradient(to bottom right,  rgb(133, 107, 204) 0%,rgb(133, 107, 204) 50%, rgb(204, 187, 211) 50%,rgb(204, 187, 211) 100%);
}
.date{
    border:1px silver solid;
    background-color:rgb(204, 187, 211);
    text-align: center;
    color:blueviolet;
    line-height: 1rem;
    width: 30%;
    font-family: sans-serif;
    
}
.list{
    background-color:#fff;
  
    width: 30%;
    
    
}
.list-item{
    border-top:0.1px silver solid;
    border-bottom:0.1px silver solid;
    padding: 0.5rem;
    
}
.btn{
    border-radius: 50%;
    color: #fff;
    background-color: blueviolet;
}